<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cloudnote.dao.UserDao">
    <!--public void save(User user);-->
    <insert id="save" parameterType="org.cloudnote.entity.User">
  insert into cn_user (
        cn_user_id,
        cn_user_name,
        cn_user_password,
        cn_user_token,
        cn_user_nick
        )values (
        #{cn_user_id},
         #{cn_user_name},
         #{cn_user_password},
         #{cn_user_token},
         #{cn_user_nick}
        )

    </insert>
    <update id="changePassword" parameterType="org.cloudnote.entity.User">
        update cn_user set
        cn_user_password = #{cn_user_password}
        where cn_user_id=#{cn_user_id}
    </update>
    <!--public User findByName(String name);-->
    <select id="findByName" parameterType="string" resultType="org.cloudnote.entity.User">
        select * FROM cn_user where cn_user_name=#{name}
    </select>
    <select id="findById" parameterType="string" resultType="org.cloudnote.entity.User">
        select * FROM cn_user where cn_user_id=#{id}
    </select>
</mapper>